/* TOGGLE */
.am-toggle {
	float: left;
	padding:14px;
	margin-right: 10px;
	display:block;

	font-size: large;
	border-right: solid 1px #e5e5e5;
	background-color:#444;
	color: #fff;
}

/* MENU */
.am-menu {
	font-size: 1.1em;
}

.am-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.am-menu > ul a {
	display: block;
	padding: 10px 15px;
	
	text-decoration: none;
	font-weight: 500;
	color: #373737;
} 

.am-menu > ul i {
	margin-right: 6px;
}

.am-menu > ul a:hover, .am-menu > ul a:focus {
	background-color: #dfdfdf;
}

.am-menu > ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.am-menu > ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

/* PAGE-TITLE */
.am-page-title {
	margin: 0;
	padding: 20px 0;
	
	font-size: 1.5em;
	color: #373737;
}